 <form>
   <!-- <mat-form-field>
     <input type='text' matInput [matAutocomplete]="auto">
     <mat-autocomplete #auto='matAutocomplete'>
       <mat-option *ngFor="let option of options" [value]='option'>
         {{option}}
       </mat-option>
     </mat-autocomplete>
   </mat-form-field> -->

   <!-- If you want to use a function on the options while displaying, put it in [displayWith] -->
   <mat-form-field>
    <input type='text' matInput [matAutocomplete]="auto" [formControl]='myControl'>
    <mat-autocomplete #auto='matAutocomplete' [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions|async" [value]='option' >
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
 </form>