<!-- value between 0 and 100-->
<!-- static value-->
<mat-progress-spinner value='60'></mat-progress-spinner>

<!-- The required spinner-->
<mat-spinner *ngIf = 'showSpinner'></mat-spinner>
<button (click)="loadData()">Load Data</button>

<!-- progress-bar-->
<!-- 4 modes = determinate, indeterminate, buffer, query-->
<!-- value for determinate and buffer-->
<mat-progress-bar *ngIf='showBar' mode='determinate' color='accent' value='40'></mat-progress-bar>
<button (click)="loadBarData()">Load Bar Data</button>